html {
	height: 100%;
}
body {
	background: linear-gradient(to bottom, #A26F0C, #BD9547 25%, #A26F0C) no-repeat fixed;
	margin: 0;
	padding: 0;
	height: 100%;
}
header {
	position: absolute;
	bottom: 82.5%;
	left: 10%;
	width: 80%;
	font-family: Georgia;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	color: #BD9547;
	text-shadow: #A26F0C -2px 2px;
	min-width: 600px;
}
#game {
	position: absolute;
	top: 20%;
	left: 10%;
	height: 65%;
	width: 80%;
	min-width: 600px;
	min-height: 250px;
}
.circle {
	position: absolute;
	bottom: 0;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.circle#grumpy {
	left: 0;
	border: 20px solid #FFA077;
	box-shadow: -2px 2px 2px 0 #BD6A47;
}
.circle.inner#grumpy {
	box-shadow: inset -2px 2px 2px 0 #BD6A47;
	background: url('grumpy.jpg') no-repeat;
}
.circle#happy {
	right: 0;
	border: 20px solid #7FA4F2;
	box-shadow: -2px 2px 2px 0 #435F99;
}
.circle.inner#happy {
	box-shadow: inset -2px 2px 2px 0 #435F99;
	background: url('happy.jpg') no-repeat;
}
.bar {
	position: absolute;
	bottom: 138px;
	height: 60%;
	width: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.bar#grumpy {
	left: 60px;
	background: #FFCCB7;
	box-shadow: inset -3px 3px 2px 0 #BD6A47;
}
.bar#happy {
	right: 60px;
	background: #B4C8F2;
	box-shadow: inset -3px 3px 2px 0 #435F99;
}
.bar.full {
	height: 1px;
}
.bar.full#grumpy {
	background: #FFA077;
	height: 100px;
	box-shadow: -2px 2px 2px 0 #BD6A47;
}
.bar.full#happy {
	background: #7FA4F2;
	height: 40px;
	box-shadow: -2px 2px 2px 0 #435F99;
}
#catcher {
	position: absolute;
	bottom: 55px;
	left: 1%;
	height: 20px;
	width: 98%;
	background: #BD9547;
	box-shadow: inset -3px 3px 2px 0 #A26F0C;
}
.score {
	position: absolute;
	bottom: 55px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
}
.score.happy {
	left: 30%;
	color: #B4C8F2;
	text-shadow: #435F99 -1px 1px;
}
.score.grumpy {
	left: 55%;
	color: #FFCCB7;
	text-shadow: #BD6A47 -1px 1px;
}